<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
    <head>
    <body>
        <h1>{{ .title }}</title>
        <form action="/user/login" method="post">
            <input id="username" type="text" name="username" placeholder="Username"></input>
            <input id="password" type="password" name="password" placeholder="Password"></input>
            <button type="submit">Log in</button>
        </form>
    </body>
</html>
