<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
    <head>
    <body>
        <h1>{{ .title }}</h1>
        {{ with .data  }}
            <ul>
            {{ range . }}
                <li>{{.}}</li>
            {{ end }}
            </ul>
        {{ else }}
        <div>This user has no TODO information. Yet.</div>
        {{ end }}
    </body>
</html>
