<!DOCTYPE html>
<html>
    <head>
        <title>{{ .title }}</title>
    <head>
    <body>
        <h1>{{ .title }}</h1>
        {{ with .data  }}
        <div>Username: {{ .Username }}</div>
        <div>Fullname: {{ .Fullname }}</div>
        <div>Birthday: {{ .Birthday }}</div>
        {{ else }}
        <div>This user has no profile information. Yet.</div>
        {{ end }}
        <br>
        <div><a href="/user/{{.username}}">Profile</a>
        <div><a href="/todo">TODO list</a>
        <div><a href="/login">Log in</a>
    </body>
</html>
